node_modules
*.log
.git
.vscode
.idea
.eslintrc.js
.eslintrc.prepublish.js
.prettierrc.js
tsconfig.json
tsconfig.build.json
gulpfile.js
jest.config.js
jest.integration.config.js
src
test
*.ts
.index.js
!dist/**/*.d.ts
